---
import { z } from 'zod';
import { db } from '@db';
import BaseLayout from '@layouts/BaseLayout.astro';

const countryList = await db.selectFrom('country').selectAll().execute();
const drafts = await db.selectFrom('draft').selectAll().execute();
const waitingForApproval = await db
    .selectFrom('draft')
    .selectAll()
    .where('status', '=', 'waiting-for-approval')
    .execute();

const allPages = await Astro.glob('./*.mdx');
const countryPages = allPages.filter((page) => page.frontmatter.type === 'country' && !page.frontmatter.draft);

if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const intent = formData.get('intent');
    const countryKey = formData.get('country');

    if (intent === 'add-country') {
        // Validate
        const countrySchema = z.object({
            type: z.string(),
            key: z.string(),
        });

        const parsedCountry = countrySchema.safeParse({
            type: 'country',
            key: countryKey,
        });

        if (!parsedCountry.success) {
            return;
        }

        // Create entry
        await db.insertInto('draft').values(parsedCountry.data).execute();
    } else if (intent === 'approve-country') {
        if (!countryKey) {
            return new Response(null, { status: 500 });
        }

        await db
            .updateTable('draft')
            .set({ status: 'approved' })
            .where('key', '=', countryKey as string)
            .execute();

        const approvedPage = await db
            .selectFrom('draft')
            .selectAll()
            .where('key', '=', countryKey as string)
            .where('status', '=', 'approved')
            .executeTakeFirst();

        if (!approvedPage) {
            return new Response(null, { status: 500 });
        }

        const content = `---\nlayout: '@layouts/CountryLayout.astro'\ntype: ${approvedPage.type}\nkey: ${approvedPage.key}\n---\n\n${approvedPage.content}`;

        await fetch(
            'https://api.github.com/repos/edburtnieks/whatdo.earth/actions/workflows/create-country-file.yml/dispatches',
            {
                method: 'POST',
                headers: {
                    Accept: 'application/vnd.github+json',
                    Authorization: `Bearer ${import.meta.env.GITHUB_TOKEN}`,
                },
                body: JSON.stringify({
                    ref: 'main',
                    inputs: {
                        fileName: approvedPage.key,
                        content,
                    },
                }),
            }
        );
    }
}
---

<BaseLayout>
    <h1>Home</h1>
    <h2>Waiting for approval</h2>
    <ul>
        {
            waitingForApproval.map((draft) => (
                <li>
                    <p>{draft.key}</p>
                    <form method="post">
                        <input type="hidden" name="country" value={draft.key} />
                        <button type="submit" name="intent" value="approve-country">
                            Approve {draft.key}
                        </button>
                    </form>
                </li>
            ))
        }
    </ul>
    <h2>Drafts</h2>
    <ul>
        {
            drafts.map((draft) => (
                <li>
                    <a href={`/edit/${draft.key}`}>{draft.key}</a>
                </li>
            ))
        }
    </ul>
    <h2>Add country</h2>
    <form method="post">
        <label for="country">Country</label>
        <select name="country" id="country">
            {countryList.map((country) => <option value={country.key}>{country.name}</option>)}
        </select>
        <button type="submit" name="intent" value="add-country">Add country</button>
    </form>
    <h2 id="countries-title">Countries</h2>
    <ul aria-labelledby="countries-title">
        {
            countryPages.map((page) => (
                <li>
                    <a href={page.frontmatter.key}>{page.frontmatter.key}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>
